<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Management System</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="d-flex justify-content-center align-items-center" id="main" style="height: 100vh">
  <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
  <div class="inline-block align-middle">
    <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
  </div>
</div>
<div style="text-align:center">
  <a th:href="@{/}" class="btn btn-danger">Student Service Homepage</a>
</div>


</body>
</html>